<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active" id="singin">Авторизация</h2>

    <form [formGroup]="userForm">
      <input
        type="text"
        id="login"
        class="fadeIn second userForm"
        formControlName="login"
        placeholder="логин"
        [ngClass]="{
          'has-error':
            userForm.get('login')?.invalid && userForm.get('login')?.touched
        }"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third userForm"
        formControlName="password"
        placeholder="пароль"
        [ngClass]="{
          'has-error':
            userForm.get('password')?.invalid &&
            userForm.get('password')?.touched
        }"
      />
      <input
        type="submit"
        class="fadeIn fourth"
        value="Войти"
        (click)="tryLogIn()"
      />
      <input
        type="submit"
        class="fadeIn fourth"
        value="Зарегистрироваться"
        (click)="postUser()"
      />
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="http://localhost:3000/users"
        >Забыли пароль?</a
      >
    </div>
  </div>
</div>
