.example-chip-list {
  width: 90%;
}
.redact-form {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.field-form {
  display: flex;
  width: 100%;
  justify-content: center;
}
