<div class="redact-form">
    <h1>Редактировать приоритеты</h1>
    </div>
    <div class="field-form">
<mat-form-field class="example-chip-list">
    <mat-label>Приоритеты</mat-label>
    <mat-chip-grid #chipGrid aria-label="Введите приоритеты">
      @for (priority of prioroties; track priority) {
        <mat-chip-row
          (removed)="remove(priority)"
          [editable]="true"
          (edited)="edit(priority, $event!)"
          [aria-description]="'press enter to edit ' + priority.name">
          {{priority.name}}
          <button matChipRemove [attr.aria-label]="'remove ' + priority.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input placeholder="Новый приоритет..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
</mat-form-field>
  </div>