<header>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="header"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-toolbar-row>
                    <span class="project-name">To do list</span>
                </mat-toolbar-row>
            </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-toolbar-row>
            <div class="mat-header-row">
                <div>
                    <button
                        mat-raised-button
                        color="basic"
                        (click)="openTaskDialog()"
                    >Add task</button>
                    <button
                        mat-raised-button
                        color="basic"
                        (click)="openCathegoriesDialog()"
                    >Redact cathegories</button>
                    <button
                        mat-raised-button
                        color="basic"
                        (click)="openPrioritiesDialog()"
                    >Redact priorities</button>
                </div>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="logOut()"
                >LogOut</button>
            </div>
        </mat-toolbar-row>
    </mat-expansion-panel>
</header>
<router-outlet></router-outlet>