<div class="jw-modal">
<form [formGroup]="taskForm" style="display: flex; flex-direction: column;">
    <mat-form-field>
    <label mat-label>Name</label>
    <input id="name"
    matInput 
    formControlName="name"
    placeholder="Enter name of task">
</mat-form-field>
<mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority">
        <div *ngFor="let priority of priorities" >
            <mat-option value="{{priority}}">{{priority}}</mat-option>
          </div>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <label mat-label>Date</label>
    <input id="date"
    matInput 
    type="date"
    formControlName="date"
    placeholder="Enter date">
</mat-form-field>
<mat-form-field>
    <mat-label>Cathegory</mat-label>
    <mat-select formControlName="cathegory">
        <div *ngFor="let cathegory of cathegories" >
      <mat-option value="{{cathegory}}">{{cathegory}}</mat-option>
    </div>
    </mat-select>
</mat-form-field>
<button mat-stroked-button color="accent" (click)="putTask()">Submit</button>
</form>
</div>